---

- name: stop and uninstall Infra Agent
  include_role:
    name: cleanup
  vars:
    packages_to_cleanup:
      - "{{ 'newrelic-infra-fips' if fips_enabled else 'newrelic-infra' }}"
      - td-agent-bit
      - fluent-bit
    services_to_stop:
      - newrelic-infra

- name: assert no service
  include_role:
    name: assert_no_service
  vars:
    service_name: newrelic-infra.service

- name: cleanup Infra Agent files
  include_role:
    name: cleanup
  vars:
    files_to_cleanup:
      - /etc/newrelic-infra
      - /etc/newrelic-infra.yml
      - /etc/systemd/system/newrelic-infra.service
      - /var/db/newrelic-infra
      - /usr/local/bin/newrelic-infra
      - /usr/local/bin/newrelic-infra-ctl
      - /usr/local/bin/newrelic-infra-service
      - /var/run/newrelic-infra
      - /var/log/newrelic-infra
      - /opt/newrelic-infra.tar.gz
      - /opt/newrelic-infra

...
