---

# flag to control if the Infra Agent is installed or uninstalled
uninstall: false
# flag to control environment: on-host | container
is_containerized: false
# flag to control if the Infra Agent is FIPS enabled
fips_enabled: false

# install specific version or empty for latest
target_version: ""

# package repository
repo_endpoint: "https://download.newrelic.com/infrastructure_agent"

# custom config template
custom_config_template: ""

# agent config:
nr_license_key: ""
display_name: "{{ inventory_hostname }}"
metrics_network_sample_rate: "{{ nria_metrics_network_sample_rate }}"
dpkg_interval_sec: "{{ nria_dpkg_interval_sec | default('30') }}"
log_level: "{{ nria_log_level | default('info') }}"
log_forward: "{{ nria_log_forward | default('false') }}"
log_rotation_mb: "{{ nria_log_rotation_mb | default('0') }}"
log_rotation_max_files: "{{ nria_log_rotation_max_files | default('0') }}"
log_rotation_compressed: "{{ nria_log_rotation_compressed | default('false') }}"
staging: true
custom_attributes: {}
enable_process_metrics: 'true'
self_instrumentation: false

# flag to forward docker logs to nr1
forward_docker_logs: false

...
