# Fluent Bit configuration for the standalone newrelic/newrelic-fluentbit-output
# container. The image bundles Fluent Bit + the New Relic output plugin
# (out_newrelic.so), so this file only defines the input source and the
# New Relic output. LICENSE_KEY and ENDPOINT are supplied as env vars.
[SERVICE]
    Flush        1
    Log_Level    info
    Daemon       off

[INPUT]
    Name             tail
    Path             /var/log/*.log
    Tag              var-log
    Skip_Long_Lines  On
    Refresh_Interval 5

[OUTPUT]
    Name        nrlogs
    Match       *
    licenseKey  ${nr_license_key}
