---
- name: 'Download CrowdStrike Falcon RPM'
  get_url:
    url: "{{ api_base_url }}/sensors/entities/download-installer/v1?id={{ crowdstrike_falcon_hash }}"
    timeout: 120
    headers:
      Authorization: "Bearer {{ crowdstrike_auth.json.access_token }}"
      Accept: "application/octet-stream"
      Content-Type: "application/json"
    dest: /tmp/falcon-sensor.rpm
    mode: 0644

# CrowdStrike does not provide aarch64 RPMs for SUSE, so we are using the Amazon Linux 2023 one.
# The libnl dependency is required by the package and zypper cannot get it from the AL2023 RPM, so
# we install it manually and then force the installatio n with the rpm command instead of zyper.
- name: 'Install libnl3 for aarch64'
  zypper:
    name: libnl3-200
    state: present
  when: ansible_architecture == "aarch64"

- name: 'Install the obtained RPM with nodeps (aarch64)'
  raw: 'sudo rpm -i --nodeps /tmp/falcon-sensor.rpm'
  when: ansible_architecture == "aarch64"

# Otherwise, we install normally.
- name: 'Install the obtained RPM (zypper)'
  zypper:
    name: /tmp/falcon-sensor.rpm
    state: present
    disable_gpg_check: true
  environment:
    # zypper can take sometime to release the lock
    ZYPP_LOCK_TIMEOUT: 300
  when: ansible_architecture != "aarch64"
...