---

- name: Fleet API Get Agents
  include_role:
    name: graphql_request
    apply:
      become: false
  vars:
    - graphql_query: |
        {
          account  {
            agents{
              results{
                type
                healthy
                authorization{
                  state
                  lastUpdated
                }
                host{
                  name
                }
                uid
              }
            }
          }
        }

...
